/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@media only screen and (max-width: 991px) {
  #home-tabs {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 16px;
  }
}

.list-tab-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .list-tab-header {
    flex-direction: column;
    flex-direction: column-reverse;
    margin-bottom: 16px !important;
  }
}
.list-tab-header .date-picker-wrapper {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media only screen and (max-width: 991px) {
  .list-tab-header .date-picker-wrapper {
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 16px;
    padding-right: 16px;
  }
}
.list-tab-header .date-picker-wrapper .time-picker {
  padding: 6px 4px;
  display: flex;
  align-items: center;
  min-width: 161px;
  cursor: pointer;
  background-color: #EDF2F7;
  max-height: 32px;
}
.list-tab-header .date-picker-wrapper .time-picker .time-label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
  margin: 0px 16px;
}
.list-tab-header .date-picker-wrapper .btn-picker {
  width: 32px;
  height: 32px;
  min-width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #007649;
}
.list-tab-header .date-picker-wrapper .btn-picker:focus {
  outline: none;
}

@media only screen and (max-width: 991px) {
  .row {
    margin-left: 0 !important;
  }
}

.table-timeline-match {
  margin-top: 46px;
}
@media only screen and (max-width: 991px) {
  .table-timeline-match {
    margin-top: 24px;
  }
}

.table-match-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}
.table-match-wrapper .header-wrapper {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #007649;
}
.table-match-wrapper .timeline-table-title {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}
.table-match-wrapper .header-table {
  background: #007649;
  padding: 6px 30px 6px 20px;
  position: relative;
  display: flex;
  gap: 12px;
  max-width: max-content;
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .header-table {
    padding: 6px 20px 6px 10px;
  }
}
.table-match-wrapper .header-table::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -10px;
  width: 20px;
  height: 37px;
  display: block;
  transform: skew(20deg);
  background: #fff;
  border-bottom: 1px solid #007649;
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .header-table::before {
    height: 34px;
  }
}
.table-match-wrapper .header-table .bottom-premier {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .header-table .bottom-premier {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    line-height: 21px;
  }
}
.table-match-wrapper .header-table .bottom-premier img {
  display: block;
  min-width: 16px;
  max-height: 16px;
  object-fit: cover;
  margin-right: 12px;
}
.table-match-wrapper .table-content {
  width: 100%;
  height: auto;
}
.table-match-wrapper .table-content .table-row {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 40px;
  border-bottom: 1px solid #EDF2F7;
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .table-content .table-row {
    flex-direction: column;
    padding: 12px 0px;
    align-items: flex-start;
  }
}
.table-match-wrapper .table-content .table-row:hover {
  background-color: rgba(0, 118, 73, 0.1);
  cursor: pointer;
}
.table-match-wrapper .table-content .table-row-football {
  border-left: 1px solid #EDF2F7;
  border-right: 1px solid #EDF2F7;
}
.table-match-wrapper .table-content .table-row-football:first-child {
  border-top: 1px solid #EDF2F7;
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .table-content .table-row-football:first-child {
    border-top: none;
  }
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .table-content .table-row-football {
    border-left: none;
    border-right: none;
  }
}
.table-match-wrapper .table-content .table-column {
  width: 50%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .table-content .table-column {
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .table-content .table-column:first-child {
    gap: 6px;
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .table-content .table-column:last-child {
    width: 100%;
  }
}
.table-match-wrapper .table-content .table-column .time {
  display: block;
  min-width: 40px;
  max-width: max-content;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
  text-align: left;
  margin-right: 60px;
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .table-content .table-column .time {
    min-width: fit-content;
    margin-right: 0;
    font-size: 12px;
    line-height: 18px;
  }
}
.table-match-wrapper .table-content .table-column .status {
  min-width: 75px;
  max-width: max-content;
  text-align: left;
  margin-right: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .table-content .table-column .status {
    min-width: fit-content;
    margin-right: 0;
    font-size: 12px;
    line-height: 18px;
  }
}
.table-match-wrapper .table-content .table-column .live {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #007649;
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .table-content .table-column .live {
    font-size: 12px;
    line-height: 18px;
  }
}
.table-match-wrapper .table-content .table-column .upcoming {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #3252C0;
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .table-content .table-column .upcoming {
    font-size: 12px;
    line-height: 18px;
  }
}
.table-match-wrapper .table-content .table-column .dot {
  display: none;
  min-width: 3px;
  height: 3px;
  border: none;
  background-color: #718096;
  border-radius: 50%;
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .table-content .table-column .dot {
    display: block;
  }
}
.table-match-wrapper .table-content .table-column .club-item {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: max-content;
}
.table-match-wrapper .table-content .table-column .club-item:first-child {
  justify-content: flex-end;
}
.table-match-wrapper .table-content .table-column .club-item:last-child {
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.table-match-wrapper .table-content .table-column .score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
  width: 20%;
  min-width: max-content;
}
.table-match-wrapper .table-content .table-column .league {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  min-width: max-content;
}
.table-match-wrapper .table-content .table-column .flag-league {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}
@media only screen and (max-width: 991px) {
  .table-match-wrapper .table-content .table-column .flag-league {
    display: none;
  }
}
.table-match-wrapper .table-content .table-column .flag-club {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}
.table-match-wrapper .table-content .table-column .name-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}

.q-and-a-wrapper {
  width: 100%;
  height: 830px;
  margin-top: 80px;
  background-image: url("../images/qa-background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .q-and-a-wrapper {
    display: none;
  }
}
.q-and-a-wrapper #q-and-a-tabs {
  width: 100%;
  height: auto;
  border: 5px solid #007649;
  display: flex;
}
.q-and-a-wrapper #q-and-a-tabs .qa-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #007649;
}
.q-and-a-wrapper #q-and-a-tabs .qa-nav li {
  min-width: 300px;
  max-width: 300px;
  height: auto;
}
.q-and-a-wrapper #q-and-a-tabs .qa-nav li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 16px 20px;
  display: flex;
  gap: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
  display: flex;
  align-items: center;
  background-color: #007649;
  color: #fff;
}
.q-and-a-wrapper #q-and-a-tabs .qa-nav li a .number {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #fff;
}
.q-and-a-wrapper #q-and-a-tabs .qa-nav li a .tab-label {
  margin: 0;
  padding: 0;
  max-width: 230px;
}
.q-and-a-wrapper #q-and-a-tabs .qa-nav li a:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
.q-and-a-wrapper #q-and-a-tabs .qa-nav .ui-tabs-active a {
  background-color: #fff;
}
.q-and-a-wrapper #q-and-a-tabs .qa-nav .ui-tabs-active a:hover {
  background-color: #fff;
}
.q-and-a-wrapper #q-and-a-tabs .qa-nav .ui-tabs-active a .number {
  color: #007649;
}
.q-and-a-wrapper #q-and-a-tabs .qa-nav .ui-tabs-active a .tab-label {
  color: #1A202C !important;
}
.q-and-a-wrapper .content-tab-wrapper {
  background-color: #fff;
  padding: 44px 56px;
  min-height: 600px;
  max-height: 600px;
  overflow: hidden auto;
}
.q-and-a-wrapper .content-tab-wrapper .block {
  margin-bottom: 32px;
}
.q-and-a-wrapper .content-tab-wrapper .block .content-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #1A202C;
}
.q-and-a-wrapper .content-tab-wrapper .block .content-description {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}

.news-wrapper {
  padding-top: 80px;
}
@media only screen and (max-width: 991px) {
  .news-wrapper {
    padding-top: 44px;
  }
}
.news-wrapper .title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #1A202C;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
@media only screen and (max-width: 991px) {
  .news-wrapper .title {
    margin-bottom: 12px;
  }
}
.news-wrapper .list-news {
  width: 100%;
  height: auto;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 991px) {
  .news-wrapper .list-news {
    gap: 0;
  }
}
.news-wrapper .news-item {
  width: calc((100% - 48px) / 3);
  max-width: 420px;
  height: auto;
  margin-bottom: 100px;
  position: relative;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  .news-wrapper .news-item {
    width: 100%;
  }
}
.news-wrapper .news-item .news-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-wrapper .news-item .news-info {
  position: absolute;
  max-width: 353px;
  min-width: 353px;
  height: auto;
  border-top: 2px solid #007649;
  left: 0;
  bottom: -30%;
  background-color: #fff;
  padding-top: 12px;
  padding-right: 16px;
}
.news-wrapper .news-item .news-info .league-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #718096;
}
@media only screen and (max-width: 991px) {
  .news-wrapper .news-item .news-info .league-name {
    font-size: 12px;
    line-height: 18px;
  }
}
.news-wrapper .news-item .news-info .news-title {
  margin: 0;
  padding: 0;
  max-width: 337px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #1A202C;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0px;
}
@media only screen and (max-width: 991px) {
  .news-wrapper .news-item .news-info .news-title {
    font-size: 16px;
    line-height: 24px;
  }
}
.news-wrapper .news-item .news-info .time {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #718096;
}
@media only screen and (max-width: 991px) {
  .news-wrapper .news-item .news-info .time {
    font-size: 12px;
    line-height: 18px;
  }
}
.news-wrapper .view-more-block {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 44px 0px 90px 0px;
}
@media only screen and (max-width: 991px) {
  .news-wrapper .view-more-block {
    margin: 24px 0px 66px 0px;
  }
}
.news-wrapper .view-more-block .btn-view-more {
  min-width: 176px;
  height: auto;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #AACC00;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1A202C;
}
.news-wrapper .view-more-block .btn-view-more:focus {
  outline: none;
}

/*# sourceMappingURL=home-3.css.map */
