/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  font-family: "Poppins";
}

img {
  max-width: 100%;
}

a,
button,
.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.over {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

.list-style-none {
  list-style: none !important;
}

/* -----------------------------------------------------------
	button
----------------------------------------------------------- */
/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
.main-header {
  background: url("../images/header-bg.png") no-repeat;
  background-size: cover;
  background-position: 60% 100%;
}
.main-header .navbar-top .navbar-logo img {
  width: 70%;
}
.main-header .header-right-button .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0px;
}
.main-header .header-right-button .main-nav .time-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  position: relative;
}
.main-header .header-right-button .main-nav .time-zone .dropdown-toggle {
  color: #fff;
}
@media only screen and (max-width: 575px) {
  .main-header .header-right-button .main-nav .time-zone {
    display: none;
  }
}
.main-header .header-right-button .main-nav button.btn-login {
  font-size: 14px;
  font-weight: 500;
  border-radius: 0px;
  color: #007649;
  background: #FFFFFF;
  padding: 7px 9px;
}
.main-header .header-right-button .main-nav button.btn-logup {
  font-size: 14px;
  font-weight: 500;
  border-radius: 0px;
  border: 2px solid #fff;
  margin-left: 10px;
  color: #fff;
  padding: 6px 8px;
}
.main-header .navbar-menu {
  padding-bottom: 0px;
  padding-top: 20px;
}
@media only screen and (max-width: 575px) {
  .main-header .navbar-menu {
    overflow: scroll;
  }
}
.main-header .navbar-menu .navbar-nav {
  position: relative;
}
@media only screen and (max-width: 575px) {
  .main-header .navbar-menu .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.main-header .navbar-menu li.nav-item {
  padding: 10px 0px 5px 15px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.main-header .navbar-menu li.nav-item:hover .children-menu {
  display: block;
}
.main-header .navbar-menu li.nav-item.active {
  background: #FFFFFF;
  color: #007649;
  border-radius: 0px;
}
.main-header .navbar-menu li.nav-item.active a.nav-link {
  font-size: 16px;
  color: #007649;
  font-weight: 500;
}
.main-header .navbar-menu li.nav-item a.nav-link {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  padding: 0px;
}
.main-header .navbar-menu li.nav-item a.nav-link img {
  width: 20%;
  margin-right: 10px;
}
.main-header .navbar-menu li.nav-item .children-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 99;
  padding: 20px 0px 20px 15px;
  display: none;
  -webkit-box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.1);
}
.main-header .navbar-menu li.nav-item .children-menu a.header-chil {
  font-size: 14px;
  color: #007649;
  font-weight: 400;
  line-height: 31px;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}
.main-header .navbar-menu li.nav-item .children-menu a.header-chil i {
  margin-left: 5px;
}
.main-header .navbar-menu li.nav-item .children-menu .chilren-item h5 {
  font-size: 18px;
  color: #1A202C;
  font-weight: 600;
  line-height: 31px;
  margin-bottom: 5px;
}
.main-header .navbar-menu li.nav-item .children-menu .chilren-item ul.menu-chil-1 {
  list-style: none;
  padding-left: 0px;
}
.main-header .navbar-menu li.nav-item .children-menu .chilren-item ul.menu-chil-1 li {
  margin-bottom: 5px;
}
.main-header .navbar-menu li.nav-item .children-menu .chilren-item ul.menu-chil-1 li a {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 31px;
  text-decoration: none;
}
.main-header .navbar-menu li.nav-item .children-menu .chilren-item ul.menu-chil-1 li a:hover {
  color: #007649;
}

/* -----------------------------------------------------------
	.footer
----------------------------------------------------------- */
/* -----------------------------------------------------------
	.con-benefit
----------------------------------------------------------- */
.block-match {
  background: url("../images/bg-tran.png") no-repeat;
  padding: 60px 0px;
  background-size: cover;
}
.block-match .record-match {
  padding: 0px 8px;
}
.block-match .record-match .block-item {
  background: url("../images/match-item.png") no-repeat;
  border-radius: 4px;
  width: 100%;
}
.block-match .record-match .block-item .item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px 0px;
  position: relative;
}
.block-match .record-match .block-item .item-top .hot-match img {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
}
.block-match .record-match .block-item .item-top .club-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-match .record-match .block-item .item-top .club-item img {
  width: 50%;
}
.block-match .record-match .block-item .item-top .club-item p {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  line-height: 21px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.block-match .record-match .block-item .item-bottom {
  padding: 15px 6px 10px;
  text-align: center;
  display: block;
  background: #fff;
  border-radius: 4px;
}
.block-match .record-match .block-item .item-bottom .bottom-premier {
  font-size: 12px;
  color: #1A202C;
  font-weight: 400;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-match .record-match .block-item .item-bottom .bottom-premier img {
  width: 10%;
  margin-right: 10px;
}
.block-match .record-match .block-item .item-bottom .premier-time h6 {
  font-size: 16px;
  color: #1A202C;
  font-weight: 500;
  line-height: 24px;
  margin: 10px 0px;
}
.block-match .record-match .block-item .item-bottom .premier-button a {
  background: #AACC00;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  color: #1A202C;
  font-weight: 600;
  line-height: 18px;
  width: 100%;
}
.block-match .record-match .block-item .item-bottom .premier-button a.disable {
  background: #CBD5E0;
  font-size: 12px;
  color: #718096;
  font-weight: 600;
}

.body-live {
  padding-top: 40px;
}
.body-live .live-left {
  padding: 0px;
}
.body-live .live-left .header-tab {
  margin-bottom: 35px;
}
.body-live .live-left .header-tab .nav-tabs {
  border: none;
}
.body-live .live-left .header-tab .nav-tabs button.nav-link {
  background: #EDF2F7;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  color: #1A202C;
  font-weight: 500;
  line-height: 21px;
  margin-right: 20px;
}
.body-live .live-left .header-tab .nav-tabs button.nav-link.active {
  background: #AACC00;
  position: relative;
}
.body-live .live-left .header-tab .nav-tabs button.nav-link.active::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -7px;
  display: block;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #AACC00;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning {
  padding-left: 0px;
  list-style: none;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning thead .header-table {
  background: #007649;
  padding: 10px 10px 10px 0px;
  position: relative;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning thead .header-table::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -10px;
  width: 20px;
  height: 44px;
  display: block;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  background: #fff;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning thead .header-table .bottom-premier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning thead .header-table .bottom-premier img {
  width: 10%;
  margin-right: 10px;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match {
  border-top: 2px solid #007649;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr {
  border-left: 1px solid #EDF2F7;
  border-right: 1px solid #EDF2F7;
  height: 40px;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr.upcoming td:nth-child(2) {
  font-size: 14px;
  color: #3252C0;
  font-weight: 400;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr.live td:nth-child(2) {
  font-size: 14px;
  color: #007649;
  font-weight: 600;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr:hover {
  background: #EDF2F7;
  cursor: pointer;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr th, .body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr td {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 40px;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr th:last-child .bottom-premier-item, .body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr td:last-child .bottom-premier-item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr th:last-child .bottom-premier-item span, .body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr td:last-child .bottom-premier-item span {
  margin-left: 10px;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr th .bottom-premier-item, .body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr td .bottom-premier-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr th .bottom-premier-item img, .body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr td .bottom-premier-item img {
  width: 15%;
  margin-left: 10px;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr th .bottom-premier, .body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr td .bottom-premier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr th .bottom-premier img, .body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr td .bottom-premier img {
  width: 10%;
  margin-right: 10px;
}
.body-live .live-right .football-ranking thead tr {
  background: #AACC00;
  line-height: 35px;
}
.body-live .live-right .football-ranking thead tr td:nth-child(2n+1) {
  text-align: center;
  cursor: pointer;
}
.body-live .live-right .football-ranking thead tr td .bottom-premier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body-live .live-right .football-ranking thead tr td .bottom-premier img {
  width: 10%;
  margin-right: 10px;
}
.body-live .live-right .football-ranking tbody.tbody-ranking {
  border-top: none;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr {
  border-left: 1px solid #EDF2F7;
  border-right: 1px solid #EDF2F7;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr th {
  font-size: 12px;
  color: #718096;
  font-weight: 400;
  line-height: 18px;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td {
  font-size: 12px;
  color: #1A202C;
  font-weight: 400;
  line-height: 18px;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td:nth-child(1) {
  text-align: center;
  font-weight: 600;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td.up:nth-child(2) {
  color: #38A169;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td.down:nth-child(2) {
  color: #E53E3E;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td.circle:nth-child(2) {
  color: #A0AEC0;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td.circle:nth-child(2) i {
  font-size: 7px;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td .bottom-premier-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td .bottom-premier-item img {
  width: 20%;
  margin-right: 10px;
}

.match-header {
  margin-top: 30px;
}
.match-header h5 {
  font-size: 24px;
  color: #1A202C;
  font-weight: 500;
  line-height: 36px;
}
@media only screen and (max-width: 575px) {
  .match-header h5 {
    font-size: 20px;
    color: #1A202C;
    font-weight: 500;
    line-height: 30px;
  }
}
.match-header .match-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.match-header .match-time p {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 0;
}
.match-header .match-time .match-social ul.social-ul {
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
}
.match-header .match-time .match-social ul.social-ul li {
  text-align: center;
}
.match-header .match-time .match-social ul.social-ul li img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 575px) {
  .match-header .match-time .match-social ul.social-ul li img {
    width: 40%;
  }
}

.block-play .match-play {
  background: #032719;
}
.block-play .match-play .match-server ul.server-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  list-style: none;
  padding: 15px;
}
.block-play .match-play .match-server ul.server-list li {
  margin-right: 10px;
}
.block-play .match-play .match-server ul.server-list li.active a {
  font-size: 14px;
  color: #1A202C;
  font-weight: 500;
  background: #AACC00;
}
.block-play .match-play .match-server ul.server-list li a {
  font-size: 14px;
  color: #AACC00;
  font-weight: 500;
  line-height: 21px;
  padding: 7px 9px;
  border: 1px solid #AACC00;
  display: block;
}

.block-result {
  text-align: center;
}
.block-result .item-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}
.block-result .item-result .bottom-premier-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-result .item-result .bottom-premier-item img {
  width: 15%;
  margin-left: 10px;
}
.block-result .item-result .bottom-premier-item span {
  font-size: 20px;
  color: #1A202C;
  font-weight: 500;
  line-height: 30px;
}
@media only screen and (max-width: 575px) {
  .block-result .item-result .bottom-premier-item span {
    font-size: 14px;
    color: #1A202C;
    font-weight: 500;
    line-height: 21px;
  }
}
.block-result .item-result .bottom-point {
  background: #007649;
  padding: 5px 15px;
  text-align: center;
}
.block-result .item-result .bottom-point span {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  line-height: 36px;
}
@media only screen and (max-width: 575px) {
  .block-result .item-result .bottom-point span {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 30px;
  }
}
.block-result .item-result .bottom-premier-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-result .item-result .bottom-premier-item1 img {
  width: 15%;
  margin-right: 10px;
}
.block-result .item-result .bottom-premier-item1 span {
  font-size: 20px;
  color: #1A202C;
  font-weight: 500;
  line-height: 30px;
}
@media only screen and (max-width: 575px) {
  .block-result .item-result .bottom-premier-item1 span {
    font-size: 14px;
    color: #1A202C;
    font-weight: 500;
    line-height: 21px;
  }
}
.block-result .item-date p {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 5px;
}
.block-result .item-last p {
  font-size: 14px;
  color: #007649;
  font-weight: 600;
  line-height: 21px;
}

.col-match {
  border: 1px solid #E2E8F0;
  padding: 40px 0px 10px 20px;
}
.col-match .list-guide img {
  width: 15%;
}
.col-match .list-guide h6 {
  font-size: 14px;
  color: #1A202C;
  font-weight: 500;
  line-height: 21px;
  margin: 10px 0px;
}
.col-match .list-guide p {
  font-size: 14px;
  color: #718096;
  font-weight: 500;
  line-height: 21px;
}

.head-to-head {
  text-align: center;
}
.head-to-head h4 {
  font-size: 20px;
  color: #1A202C;
  font-weight: 500;
  line-height: 30px;
  margin: 20px 0px 50px;
}
@media only screen and (max-width: 575px) {
  .head-to-head h4 {
    margin: 20px 0px 20px;
  }
}
.head-to-head .block-head {
  width: 90%;
  margin: 0 auto;
  display: block;
}
@media only screen and (max-width: 991px) {
  .head-to-head .block-head {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .head-to-head .block-head {
    display: none;
  }
}
.head-to-head .block-head table tr {
  line-height: 30px;
}
.head-to-head .block-head table tr td {
  text-align: center;
}
.head-to-head .block-head table tr td:nth-child(2), .head-to-head .block-head table tr td:nth-child(6) {
  width: 5%;
}
.head-to-head .block-head table tr td:nth-child(3) {
  text-align: right;
}
.head-to-head .block-head table tr td.play-center {
  width: 10%;
}
@media only screen and (max-width: 991px) {
  .head-to-head .block-head table tr td.play-center {
    width: 14%;
  }
}
.head-to-head .block-head table tr td span.text-left {
  text-align: left;
}
.head-to-head .block-head table tr td.play-center {
  position: relative;
}
.head-to-head .block-head table tr td.play-center span:nth-child(1) {
  position: absolute;
  top: -25px;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}
.head-to-head .block-head table tr td.play-center span.draws {
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}
.head-to-head .block-head table tr td.play-center p {
  margin-bottom: 0px;
  font-size: 64px;
  color: #007649;
  font-weight: 500;
  line-height: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.head-to-head .block-head table tr td .total-win {
  position: relative;
  width: 310px;
  height: 24px;
  background: #EDF2F7;
}
@media only screen and (max-width: 991px) {
  .head-to-head .block-head table tr td .total-win {
    width: 175px;
  }
}
.head-to-head .block-head table tr td .total-win.right {
  margin-left: auto;
}
.head-to-head .block-head table tr td .total-win.right .loading {
  right: 0;
}
.head-to-head .block-head table tr td .total-win.left {
  margin-right: auto;
}
.head-to-head .block-head table tr td .total-win.left .loading {
  left: 0;
}
.head-to-head .block-head table tr td .total-win .loading {
  background: #AACC00;
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
}
.head-to-head .block-head table tr td span {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 21px;
  display: inline-block;
}
.head-to-head .block-head-mobile {
  display: none;
}
@media only screen and (max-width: 575px) {
  .head-to-head .block-head-mobile {
    display: block;
  }
}
.head-to-head .block-head-mobile .head-scord p {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 5px;
}
.head-to-head .block-head-mobile .head-scord h6 {
  font-size: 40px;
  color: #007649;
  font-weight: 500;
  line-height: 60px;
}
.head-to-head .block-head-mobile .scord-info .nav-tabs {
  border: none;
}
.head-to-head .block-head-mobile .scord-info .nav-tabs .nav-link {
  border: none;
  font-size: 14px;
  color: #1A202C;
  font-weight: 500;
  line-height: 21px;
  padding: 10px 0px;
  margin-right: 20px;
}
.head-to-head .block-head-mobile .scord-info .nav-tabs .nav-link.active {
  border-bottom: 3px solid #007649;
  color: #007649;
}
.head-to-head .block-head-mobile .scord-info ul.info-sc {
  padding-left: 0px;
  list-style: none;
  margin-top: 20px;
}
.head-to-head .block-head-mobile .scord-info ul.info-sc li .record-sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head-to-head .block-head-mobile .scord-info ul.info-sc li .record-sc p {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 0;
  width: 80px;
  text-align: left;
}
.head-to-head .block-head-mobile .scord-info ul.info-sc li .record-sc span {
  font-size: 14px;
  color: #1A202C;
  font-weight: 600;
  line-height: 42px;
  margin: 0px 25px;
}
.head-to-head .block-head-mobile .scord-info ul.info-sc li .record-sc .sc-width {
  width: 60%;
  background: #EDF2F7;
  height: 25px;
  position: relative;
}
.head-to-head .block-head-mobile .scord-info ul.info-sc li .record-sc .sc-width .load {
  position: absolute;
  top: 0;
  left: 0;
  background: #AACC00;
  display: block;
  height: 100%;
}

.recent-meeting {
  border-top: 4px solid #EDF2F7;
  margin-top: 60px;
}
@media only screen and (max-width: 575px) {
  .recent-meeting {
    border: none;
    margin-top: 0;
  }
}
.recent-meeting h4 {
  font-size: 20px;
  color: #1A202C;
  font-weight: 500;
  line-height: 30px;
  margin: 40px 0px 20px;
  text-align: center;
}
@media only screen and (max-width: 575px) {
  .recent-meeting h4 {
    margin: 20px 0px 0px 0px;
  }
}
@media only screen and (max-width: 575px) {
  .recent-meeting .table-destop {
    display: none;
  }
}
.recent-meeting .recent-mobile {
  display: none;
}
@media only screen and (max-width: 575px) {
  .recent-meeting .recent-mobile {
    display: block;
  }
}
.recent-meeting .recent-mobile ul.meeting-list {
  list-style: none;
  padding-left: 0px;
}
.recent-meeting .recent-mobile ul.meeting-list li {
  padding: 20px 0px;
  border-bottom: 1px solid #EDF2F7;
}
.recent-meeting .recent-mobile ul.meeting-list li .meeting-item h6 {
  font-size: 12px;
  color: #718096;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin-bottom: 15px;
}
.recent-meeting .recent-mobile ul.meeting-list li .meeting-item .meeting-scord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.recent-meeting .recent-mobile ul.meeting-list li .meeting-item .meeting-scord .bottom-premier-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recent-meeting .recent-mobile ul.meeting-list li .meeting-item .meeting-scord .bottom-premier-item img {
  width: 15%;
  margin-left: 10px;
}
.recent-meeting .recent-mobile ul.meeting-list li .meeting-item .meeting-scord .bottom-premier-item span {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 21px;
}
.recent-meeting .recent-mobile ul.meeting-list li .meeting-item .meeting-scord .scord {
  color: #007649;
}
.recent-meeting .recent-mobile ul.meeting-list li .meeting-item .meeting-scord .scord span {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 21px;
  padding: 5px 15px;
  text-align: center;
  background: #007649;
}
.recent-meeting .recent-mobile ul.meeting-list li .meeting-item .meeting-scord .bottom-premier-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recent-meeting .recent-mobile ul.meeting-list li .meeting-item .meeting-scord .bottom-premier-item1 img {
  width: 15%;
  margin-right: 10px;
}
.recent-meeting .recent-mobile ul.meeting-list li .meeting-item .meeting-scord .bottom-premier-item1 span {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 21px;
}
.recent-meeting .tbody-match {
  border-top: none;
}
.recent-meeting .tbody-match tr {
  height: 40px;
}
.recent-meeting .tbody-match tr td:nth-child(1) {
  padding-left: 80px;
  width: 45%;
}
@media only screen and (max-width: 991px) {
  .recent-meeting .tbody-match tr td:nth-child(1) {
    padding-left: 0px;
  }
}
.recent-meeting .tbody-match tr th {
  width: 8%;
  text-align: right;
}
@media only screen and (max-width: 991px) {
  .recent-meeting .tbody-match tr th {
    width: 12%;
  }
}
.recent-meeting .tbody-match tr th span {
  background: #007649;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 21px;
  padding: 5px 7px;
}
.recent-meeting .tbody-match tr th, .recent-meeting .tbody-match tr td {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 40px;
}
.recent-meeting .tbody-match tr th:last-child .bottom-premier-item, .recent-meeting .tbody-match tr td:last-child .bottom-premier-item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.recent-meeting .tbody-match tr th:last-child .bottom-premier-item span, .recent-meeting .tbody-match tr td:last-child .bottom-premier-item span {
  margin-left: 10px;
}
.recent-meeting .tbody-match tr th .bottom-premier-item, .recent-meeting .tbody-match tr td .bottom-premier-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recent-meeting .tbody-match tr th .bottom-premier-item img, .recent-meeting .tbody-match tr td .bottom-premier-item img {
  width: 15%;
  margin-left: 10px;
}
.recent-meeting .tbody-match tr th .bottom-premier, .recent-meeting .tbody-match tr td .bottom-premier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recent-meeting .tbody-match tr th .bottom-premier img, .recent-meeting .tbody-match tr td .bottom-premier img {
  width: 10%;
  margin-right: 10px;
}
.recent-meeting .tbody-match tr th .td-first, .recent-meeting .tbody-match tr td .td-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.recent-meeting .tbody-match tr th .td-last, .recent-meeting .tbody-match tr td .td-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.match-news {
  margin-top: 30px;
}
@media only screen and (max-width: 575px) {
  .match-news {
    margin-top: 0px;
  }
}
.match-news .item-news h5 {
  font-size: 18px;
  color: #1A202C;
  font-weight: 500;
  line-height: 27px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 10px;
  margin-top: 40px;
}
@media only screen and (max-width: 575px) {
  .match-news .item-news h5 {
    font-size: 16px;
    color: #1A202C;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 12px;
  }
}
.match-news .item-news h5::before {
  content: "";
  width: 40px;
  height: 4px;
  background: #007649;
  position: absolute;
  bottom: 0;
  display: block;
}
.match-news .item-news p {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 21px;
}
@media only screen and (max-width: 575px) {
  .match-news .item-news p {
    font-size: 12px;
    color: #1A202C;
    font-weight: 400;
    line-height: 18px;
  }
}

.football-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.football-header .bottom-premier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: #1A202C;
  font-weight: 500;
  line-height: 36px;
}
@media only screen and (max-width: 575px) {
  .football-header .bottom-premier {
    font-size: 20px;
    color: #1A202C;
    font-weight: 500;
    line-height: 30px;
  }
}
.football-header .bottom-premier img {
  width: 10%;
  margin-right: 15px;
}

.foot-desc {
  margin-top: 20px;
}
.foot-desc p {
  font-size: 16px;
  color: #1A202C;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
}
@media only screen and (max-width: 575px) {
  .foot-desc p {
    font-size: 14px;
    color: #1A202C;
    font-weight: 400;
    line-height: 21px;
  }
}

@media only screen and (max-width: 575px) {
  .foot-table-desktop {
    display: none;
  }
}
.foot-table-desktop ul.foot-ul {
  padding-left: 0px;
  list-style: none;
}
.foot-table-desktop ul.foot-ul li {
  margin-top: 50px;
}
.foot-table-desktop ul.foot-ul li thead .header-table {
  background: #007649;
  padding: 10px 10px 10px 0px;
  position: relative;
}
.foot-table-desktop ul.foot-ul li thead .header-table::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -10px;
  width: 20px;
  height: 44px;
  display: block;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  background: #fff;
}
.foot-table-desktop ul.foot-ul li thead .header-table .bottom-premier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
}
.foot-table-desktop ul.foot-ul li thead .header-table .bottom-premier img {
  width: 10%;
  margin-right: 10px;
}
.foot-table-desktop ul.foot-ul li .tbody-match {
  border-top: 1px solid #EDF2F7;
}
.foot-table-desktop ul.foot-ul li .tbody-match tr {
  border-left: 1px solid #EDF2F7;
  border-right: 1px solid #EDF2F7;
  height: 40px;
}
.foot-table-desktop ul.foot-ul li .tbody-match tr.upcoming td:nth-child(2) {
  font-size: 14px;
  color: #3252C0;
  font-weight: 400;
}
.foot-table-desktop ul.foot-ul li .tbody-match tr.live td:nth-child(2) {
  font-size: 14px;
  color: #007649;
  font-weight: 600;
}
.foot-table-desktop ul.foot-ul li .tbody-match tr:hover {
  background: #EDF2F7;
  cursor: pointer;
}
.foot-table-desktop ul.foot-ul li .tbody-match tr th, .foot-table-desktop ul.foot-ul li .tbody-match tr td {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 40px;
}
.foot-table-desktop ul.foot-ul li .tbody-match tr th:last-child .bottom-premier-item, .foot-table-desktop ul.foot-ul li .tbody-match tr td:last-child .bottom-premier-item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.foot-table-desktop ul.foot-ul li .tbody-match tr th:last-child .bottom-premier-item span, .foot-table-desktop ul.foot-ul li .tbody-match tr td:last-child .bottom-premier-item span {
  margin-left: 10px;
}
.foot-table-desktop ul.foot-ul li .tbody-match tr th .bottom-premier-item, .foot-table-desktop ul.foot-ul li .tbody-match tr td .bottom-premier-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.foot-table-desktop ul.foot-ul li .tbody-match tr th .bottom-premier-item img, .foot-table-desktop ul.foot-ul li .tbody-match tr td .bottom-premier-item img {
  width: 15%;
  margin-left: 10px;
}
.foot-table-desktop ul.foot-ul li .tbody-match tr th .bottom-premier, .foot-table-desktop ul.foot-ul li .tbody-match tr td .bottom-premier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.foot-table-desktop ul.foot-ul li .tbody-match tr th .bottom-premier img, .foot-table-desktop ul.foot-ul li .tbody-match tr td .bottom-premier img {
  width: 10%;
  margin-right: 10px;
}

.foot-table-mobile {
  display: none;
}
@media only screen and (max-width: 575px) {
  .foot-table-mobile {
    display: block;
  }
}
.foot-table-mobile .item-match-mb h5 {
  font-size: 14px;
  color: #1A202C;
  font-weight: 600;
  line-height: 21px;
  border-bottom: 1px solid #EDF2F7;
  padding-bottom: 15px;
  margin-top: 35px;
}
.foot-table-mobile .item-match-mb ul.foot-mb {
  list-style: none;
  padding-left: 0px;
}
.foot-table-mobile .item-match-mb ul.foot-mb li {
  border-bottom: 1px solid #EDF2F7;
  padding: 5px 0px;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item h6 {
  font-size: 12px;
  color: #1A202C;
  font-weight: 400;
  line-height: 12px;
  display: inline-block;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item h6 span {
  margin: 0px 25px;
  position: relative;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item h6 span.live {
  font-size: 12px;
  color: #007649;
  font-weight: 600;
  line-height: 18px;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item h6 span.live::before {
  top: 1px;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item h6 span.live::after {
  top: 1px;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item h6 span.upcoming {
  font-size: 12px;
  color: #007649;
  font-weight: 400;
  line-height: 18px;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item h6 span::before {
  content: "\f111";
  font-family: "Font Awesome 5 Pro";
  font-size: 7px;
  left: -15px;
  display: inline-block;
  position: absolute;
  color: #718096;
  font-weight: 900;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item h6 span::after {
  content: "\f111";
  font-family: "Font Awesome 5 Pro";
  font-size: 7px;
  right: -15px;
  top: 1px;
  display: inline-block;
  position: absolute;
  color: #718096;
  font-weight: 900;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item .item-confrontation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0px;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item .item-confrontation .bottom-premier-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item .item-confrontation .bottom-premier-item img {
  width: 20%;
  margin-left: 10px;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item .item-confrontation .bottom-premier-item span {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 21px;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item .item-confrontation .item-score {
  margin-right: 25px;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item .item-confrontation .item-score span {
  font-size: 14px;
  color: #1A202C;
  font-weight: 600;
  line-height: 21px;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item .item-confrontation .bottom-premier-item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item .item-confrontation .bottom-premier-item-1 img {
  width: 20%;
  margin-right: 10px;
}
.foot-table-mobile .item-match-mb ul.foot-mb li .foot-item .item-confrontation .bottom-premier-item-1 span {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 21px;
}