/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  font-family: "Poppins";
}

img {
  max-width: 100%;
}

a,
button,
.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.over {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

.list-style-none {
  list-style: none !important;
}

/* -----------------------------------------------------------
	button
----------------------------------------------------------- */
/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
.main-header {
  background: url("../images/header-bg.png") no-repeat;
  background-size: cover;
  background-position: 60% 100%;
}
.main-header .navbar-top .navbar-logo img {
  width: 70%;
}
.main-header .header-right-button .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0px;
}
.main-header .header-right-button .main-nav .time-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  position: relative;
}
.main-header .header-right-button .main-nav .time-zone .dropdown-toggle {
  color: #fff;
}
.main-header .header-right-button .main-nav button.btn-login {
  font-size: 14px;
  font-weight: 500;
  border-radius: 0px;
  color: #007649;
  background: #FFFFFF;
  padding: 7px 9px;
}
.main-header .header-right-button .main-nav button.btn-logup {
  font-size: 14px;
  font-weight: 500;
  border-radius: 0px;
  border: 2px solid #fff;
  margin-left: 10px;
  color: #fff;
  padding: 6px 8px;
}
.main-header .navbar-menu {
  padding-bottom: 0px;
  padding-top: 20px;
}
.main-header .navbar-menu li.nav-item {
  padding: 10px 0px 5px 15px;
}
.main-header .navbar-menu li.nav-item.active {
  background: #FFFFFF;
  color: #007649;
  border-radius: 0px;
}
.main-header .navbar-menu li.nav-item.active a.nav-link {
  font-size: 16px;
  color: #007649;
  font-weight: 500;
}
.main-header .navbar-menu li.nav-item a.nav-link {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  padding: 0px;
}
.main-header .navbar-menu li.nav-item a.nav-link img {
  width: 20%;
  margin-right: 10px;
}

/* -----------------------------------------------------------
	.footer
----------------------------------------------------------- */
/* -----------------------------------------------------------
	.con-benefit
----------------------------------------------------------- */
@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.block-match {
  background: url("../images/bg-tran.png") no-repeat;
  padding: 60px 0px;
  background-size: cover;
}
.block-match .record-match {
  padding: 0px 8px;
}
.block-match .record-match .block-item {
  background: url("../images/match-item.png") no-repeat;
  border-radius: 4px;
  width: 100%;
}
.block-match .record-match .block-item .item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px 0px;
  position: relative;
}
.block-match .record-match .block-item .item-top .hot-match img {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
}
.block-match .record-match .block-item .item-top .club-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-match .record-match .block-item .item-top .club-item img {
  width: 50%;
}
.block-match .record-match .block-item .item-top .club-item p {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  line-height: 21px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.block-match .record-match .block-item .item-bottom {
  padding: 15px 6px 10px;
  text-align: center;
  display: block;
  background: #fff;
  border-radius: 4px;
}
.block-match .record-match .block-item .item-bottom .bottom-premier {
  font-size: 12px;
  color: #1A202C;
  font-weight: 400;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-match .record-match .block-item .item-bottom .bottom-premier img {
  width: 10%;
  margin-right: 10px;
}
.block-match .record-match .block-item .item-bottom .premier-time h6 {
  font-size: 16px;
  color: #1A202C;
  font-weight: 500;
  line-height: 24px;
  margin: 10px 0px;
}
.block-match .record-match .block-item .item-bottom .premier-button a {
  background: #AACC00;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  color: #1A202C;
  font-weight: 600;
  line-height: 18px;
  width: 100%;
}
.block-match .record-match .block-item .item-bottom .premier-button a.disable {
  background: #CBD5E0;
  font-size: 12px;
  color: #718096;
  font-weight: 600;
}

.body-live {
  padding-top: 40px;
}
.body-live .live-left {
  padding: 0px;
}
.body-live .live-left .header-tab {
  margin-bottom: 35px;
}
.body-live .live-left .header-tab .nav-tabs {
  border: none;
}
.body-live .live-left .header-tab .nav-tabs button.nav-link {
  background: #EDF2F7;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  color: #1A202C;
  font-weight: 500;
  line-height: 21px;
  margin-right: 20px;
}
.body-live .live-left .header-tab .nav-tabs button.nav-link.active {
  background: #AACC00;
  position: relative;
}
.body-live .live-left .header-tab .nav-tabs button.nav-link.active::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -7px;
  display: block;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #AACC00;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning {
  padding-left: 0px;
  list-style: none;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning thead .header-table {
  background: #007649;
  padding: 10px 10px 10px 0px;
  position: relative;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning thead .header-table::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -10px;
  width: 20px;
  height: 44px;
  display: block;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  background: #fff;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning thead .header-table .bottom-premier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning thead .header-table .bottom-premier img {
  width: 10%;
  margin-right: 10px;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match {
  border-top: 2px solid #007649;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr {
  border-left: 1px solid #EDF2F7;
  border-right: 1px solid #EDF2F7;
  height: 40px;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr.upcoming td:nth-child(2) {
  font-size: 14px;
  color: #3252C0;
  font-weight: 400;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr.live td:nth-child(2) {
  font-size: 14px;
  color: #007649;
  font-weight: 600;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr:hover {
  background: #EDF2F7;
  cursor: pointer;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr th, .body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr td {
  font-size: 14px;
  color: #1A202C;
  font-weight: 400;
  line-height: 40px;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr th:last-child .bottom-premier-item, .body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr td:last-child .bottom-premier-item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr th:last-child .bottom-premier-item span, .body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr td:last-child .bottom-premier-item span {
  margin-left: 10px;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr th .bottom-premier-item, .body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr td .bottom-premier-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr th .bottom-premier-item img, .body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr td .bottom-premier-item img {
  width: 15%;
  margin-left: 10px;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr th .bottom-premier, .body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr td .bottom-premier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr th .bottom-premier img, .body-live .live-left #myTabContent .tab-all-game ul.match-tranning .tbody-match tr td .bottom-premier img {
  width: 10%;
  margin-right: 10px;
}
.body-live .live-right .football-ranking thead tr {
  background: #AACC00;
  line-height: 35px;
}
.body-live .live-right .football-ranking thead tr td:nth-child(2n+1) {
  text-align: center;
  cursor: pointer;
}
.body-live .live-right .football-ranking thead tr td .bottom-premier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body-live .live-right .football-ranking thead tr td .bottom-premier img {
  width: 10%;
  margin-right: 10px;
}
.body-live .live-right .football-ranking tbody.tbody-ranking {
  border-top: none;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr {
  border-left: 1px solid #EDF2F7;
  border-right: 1px solid #EDF2F7;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr th {
  font-size: 12px;
  color: #718096;
  font-weight: 400;
  line-height: 18px;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td {
  font-size: 12px;
  color: #1A202C;
  font-weight: 400;
  line-height: 18px;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td:nth-child(1) {
  text-align: center;
  font-weight: 600;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td.up:nth-child(2) {
  color: #38A169;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td.down:nth-child(2) {
  color: #E53E3E;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td.circle:nth-child(2) {
  color: #A0AEC0;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td.circle:nth-child(2) i {
  font-size: 7px;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td .bottom-premier-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body-live .live-right .football-ranking tbody.tbody-ranking tr td .bottom-premier-item img {
  width: 20%;
  margin-right: 10px;
}