/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.news-detail-wrapper {
  padding: 56px 0px 140px 0px;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .news-detail-wrapper {
    padding: 24px 0px 70px 0px;
  }
}
.news-detail-wrapper .news-detail {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #007649;
}
.news-detail-wrapper .news-content {
  min-width: 890px;
  max-width: 890px;
  height: auto;
}
@media only screen and (max-width: 991px) {
  .news-detail-wrapper .news-content {
    min-width: 100%;
    max-width: 100%;
  }
}
.news-detail-wrapper .news-content .new-title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #1a202c;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 991px) {
  .news-detail-wrapper .news-content .new-title {
    font-size: 20px;
    line-height: 30px;
  }
}
.news-detail-wrapper .news-content .news-time {
  color: rgba(74, 85, 104, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  margin-top: 24px;
}
@media only screen and (max-width: 991px) {
  .news-detail-wrapper .news-content .news-time {
    font-size: 14px;
    line-height: 21px;
    margin-top: 12px;
  }
}
.news-detail-wrapper .news-content .news-line {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1a202c;
  margin: 24px 0px;
}
@media only screen and (max-width: 991px) {
  .news-detail-wrapper .news-content .news-line {
    font-size: 16px;
    line-height: 28px;
    margin: 12px 0px;
  }
}
.news-detail-wrapper .news-content .news-image {
  display: block;
  min-width: 750px;
  max-width: 750px;
  object-fit: cover;
  margin: 24px auto;
}
@media only screen and (max-width: 991px) {
  .news-detail-wrapper .news-content .news-image {
    min-width: 100%;
    max-width: 100%;
    margin: 12px auto;
  }
}
.news-detail-wrapper .list-other-news {
  width: 100%;
  padding-top: 45px;
}
@media only screen and (max-width: 991px) {
  .news-detail-wrapper .list-other-news {
    padding-top: 24px;
  }
}
.news-detail-wrapper .list-other-news .other-news-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #1a202c;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
@media only screen and (max-width: 991px) {
  .news-detail-wrapper .list-other-news .other-news-title {
    margin-bottom: 16px;
  }
}
.news-detail-wrapper .list-other-news .list-news {
  width: 100%;
  height: auto;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 991px) {
  .news-detail-wrapper .list-other-news .list-news {
    gap: 0;
  }
}
.news-detail-wrapper .list-other-news .news-item {
  width: calc((100% - 48px) / 3);
  max-width: 420px;
  height: auto;
  margin-bottom: 100px;
  position: relative;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  .news-detail-wrapper .list-other-news .news-item {
    width: 100%;
  }
}
.news-detail-wrapper .list-other-news .news-item .news-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-detail-wrapper .list-other-news .news-item .news-info {
  position: absolute;
  max-width: 353px;
  min-width: 353px;
  height: auto;
  border-top: 2px solid #007649;
  left: 0;
  bottom: -30%;
  background-color: #fff;
  padding-top: 12px;
  padding-right: 16px;
}
.news-detail-wrapper .list-other-news .news-item .news-info .league-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #718096;
}
@media only screen and (max-width: 991px) {
  .news-detail-wrapper .list-other-news .news-item .news-info .league-name {
    font-size: 12px;
    line-height: 18px;
  }
}
.news-detail-wrapper .list-other-news .news-item .news-info .news-title {
  margin: 0;
  padding: 0;
  max-width: 337px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #1a202c;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0px;
}
@media only screen and (max-width: 991px) {
  .news-detail-wrapper .list-other-news .news-item .news-info .news-title {
    font-size: 16px;
    line-height: 24px;
  }
}
.news-detail-wrapper .list-other-news .news-item .news-info .time {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #718096;
}
@media only screen and (max-width: 991px) {
  .news-detail-wrapper .list-other-news .news-item .news-info .time {
    font-size: 12px;
    line-height: 18px;
  }
}

/*# sourceMappingURL=news-detail.css.map */
