@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
@mixin button-header {
	font-size: 14px;
	font-weight: 500;
	border-radius: 0px;
}

@mixin style-font($size, $color, $weight) {
	font-size: $size;
	color: $color;
	font-weight: $weight;
}
.main-header {
	background: url('../images/header-bg.png') no-repeat;
	background-size: cover;
  background-position: 60% 100%;
	position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
	.navbar-top {
		.navbar-logo {
			@include mq(max_xs) {
				width: 45%;
			}
			img {
				width: 70%;
			}
		}
	}

	.header-right-button {
		.main-nav {
			display: flex;
			list-style: none;
			margin-bottom: 0px;
			.time-zone {
				display: flex;
				align-items: center;
				margin-right: 15px;
				@include style-font(14px, #fff, 400);
				position: relative;
				.dropdown-toggle {
					color: #fff;
				}
				@include mq(max_xs) {
					display: none;
				}
			}
			button.btn-login {
				@include button-header;
				color: #007649;
				background: #FFFFFF;
				padding: 7px 9px;
			}
			button.btn-logup {
				@include button-header;
				border: 2px solid #fff;
				margin-left: 10px;
				color: #fff;
				padding: 6px 8px;
			}
			.avatar-logined {
				text-align: right;
				padding-top: 15px;
				display: none;
				@include mq(max_xs) {
					display: block;
				}
				img {
					width: 55%;
					object-fit: cover;
				}
			}
		}
	}
	.navbar-menu {
		padding-bottom: 0px;
		padding-top: 20px;
		@include mq(max_xs) {
			overflow: scroll;
		}
		.navbar-nav {
			position: relative;
			flex-direction: row;
			@include mq(max_xs) {
				flex-direction: row;
			}
		}
		li.nav-item {
			padding: 10px 18px 5px 18px;
			transition: all 0.5s ease-in-out;
			@include mq(max_xs) {
				width: 130px;
			}
			&.active, &:hover {
				background: #FFFFFF;
				color: $primary;
				border-radius: 0px;
				a.nav-link {
					@include style-font(16px, $primary, 500);
				}
				.children-menu {
					display: block;
					@include mq(max_xs) {
						display: none;
					}
				}
			}
			a.nav-link {
				@include style-font(16px, #fff, 500);
				line-height: 24px;
				padding: 0px;
				img {
					width: 20%;
					margin-right: 10px;
				}
			}
			.children-menu {
				position: absolute;
				top: 100%;
				left: 0;
				background: #fff;
				width: 100%;
				z-index: 99;
				padding: 20px 0px 20px 15px;
				display: none;
				box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.1);
				@include mq(max_xs) {
          display: none;
        }
				a.header-chil {
					@include style-font(14px, #007649, 400);
					line-height: 31px;
					text-decoration: none;
					margin-bottom: 10px;
					display: block;
					i {
						margin-left: 5px;
					}
				}
				.chilren-item {
					.mega-menu__menu__title {
						@include style-font(18px, #1A202C, 600);
					  line-height: 31px;
						margin-bottom: 5px;
					}
					ul.mega-menu__menu {
						list-style: none;
						padding-left: 0px;
						li {
							margin-bottom: 5px;
							a {
								@include style-font(14px, #1A202C, 400);
					  		line-height: 31px;
								text-decoration: none;
								&:hover {
									color: #007649;
								}
							}
						}
					}
				}
			}
		}
	}
	.menu-block {
		position: relative;
		@include mq(max_xs) {
			padding-left: 0;
			margin-left: -12px;
		}
	}
	.block-sub-menu {
		.children-menu {
			display: none;
			&.active {
				display: block;
			}
			position: absolute;
			top: 100%;
			left: 12px;
			background: #fff;
			width: 100%;
			z-index: 99;
			padding: 20px 0px 20px 15px;
			display: none;
			box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.1);
			@include mq(max_xs) {
				left: 0px;
			  width: 103%;
    		overflow: hidden;
			}
			a.header-chil {
				@include style-font(14px, #007649, 400);
				line-height: 31px;
				text-decoration: none;
				margin-bottom: 10px;
				display: block;
				i {
					margin-left: 5px;
				}
			}
			.chilren-item {
				.mega-menu__menu__title {
					@include style-font(18px, #1A202C, 600);
					line-height: 31px;
					margin-bottom: 5px;
				}
				ul.mega-menu__menu {
					list-style: none;
					padding-left: 0px;
					li {
						margin-bottom: 5px;
						a {
							@include style-font(14px, #1A202C, 400);
							line-height: 31px;
							text-decoration: none;
							&:hover {
								color: #007649;
							}
						}
					}
				}
			}
		}
	}
}


.mega-menu__grid {
	display: flex;
	@include mq(max_xs) {
		display: block;
		padding-left: 0px;
	}
	& > div {
		width: calc(25% - 30px);
		@include mq(max_xs) {
			width: 100%;
		}
	}
}