@charset "utf-8";
@import "variables";
@import "mixins";

@mixin style-font1($size, $color, $weight, $lineHeight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $lineHeight;
}

.login-body {
  display: flex;
  justify-content: center;
  padding: 40px;
  width: 80%;
  margin: auto;
  @include mq(max_md) {
    width: 100%;
    flex-direction: column;
    padding: 0;
    .block-login-right {
      order: 1;
      width: 100% !important;
    }
    .block-login-left {
      order: 2;
      width: 100% !important;
    }
  }
  .block-login-left {
    padding: 52px 32px;
    width: 50%;
    background: url("../images/background-login.png") no-repeat;
    background-size: cover;
    .title-item-left {
      @include style-font1(24px, #ffffff, 600, 36px);
      @include mq(max_md) {
        @include style-font1(20px, #ffffff, 600, 30px);
      }
    }
    .line-green {
      width: 56px;
      height: 7px;
      background: #18ad74;
      margin: 16px 0;
    }
    .content-item-left {
      margin: 25px 0;
      @include style-font1(20px, #ffffff, 400, 30px);
      @include mq(max_md) {
        @include style-font1(16px, #ffffff, 400, 24px);
      }
    }
  }
  .block-login-right {
    width: 50%;
    display: flex;
    justify-content: center;
    .content-login-right {
      width: 70%;
      @include mq(max_md) {
        width: 100%;
        margin: 0 16px;
      }
      .title-item-right {
        @include style-font1(24px, #1a202c, 600, 36px);
      }
      .box-input {
        margin: 20px 0;
        .input-login {
          width: 100%;
          border: none;
          background: #edf2f7;
          padding: 11px 16px;
        }
        .label-input {
          @include style-font1(16px, #1a202c, 400, 24px);
          margin-bottom: 8px;
        }
      }
      .btn-submit {
        width: 100%;
        border: none;
        background: #ffffff;
        padding: 10px;
        @include style-font1(16px, #007649, 400, 24px);
      }
      .btn-submit:active {
        background: #007649;
        @include style-font1(16px, #ffffff, 600, 24px);
      }
      .active {
        background: #007649;
        @include style-font1(16px, #ffffff, 600, 24px);
      }
    }
  }
}

a.link-news {
  @include style-font1(14px,#fff, 500,21px);
}